:root
{
    --color1: #004aad;
    --color2: #fff;
    --color3: #EF476F;
    --color4: #FFBA08;
    --font: 'Oxanium', cursive;
    --nav-size: 1.6rem;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body
{
    font-size: 1.6rem;
    overflow-x: hidden;
}

.header
{
    background-color: var(--color1);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 10px black;
    z-index: 3;
    border: 0.5rem solid var(--color2);
}

.header__nav
{
    margin-right: 1rem;
}

.header__logo
{
    font-family: var(--font);
    font-size: var(--nav-size);
    color: var(--color2);
    flex-grow: 1;
}

.logo
{
    margin: 10px;
}

.header__ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header__li
{
    color: var(--color2);
    font-family: var(--font);
    font-size: 1.6rem;
}

.header__a
{
    text-decoration: none;
    padding: 10px 35px;
    display: inline-block;
    color: white;
    transition: color 0.5s;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.header__a:hover
{
    color: var(--color3);
}

.section
{
    min-height: 100vh;
    height: auto;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-overlay
{
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.7;
    z-index: 1;
    background-color: var(--color1);
}

.hero
{
    background-image: url(../img/web-design-layout-bw-optimized-320px.jpg);
    background-size: cover;
}

.hero__my-name
{
    animation: color-change 20s infinite;
}

@keyframes color-change 
{
    0% { color: var(--color2); }
    50% { text-shadow: var(--color2) 0px 0px 5px, var(--color2) 0px 0px 10px, var(--color2) 0px 0px 15px, var(--color3) 0px 0px 20px, var(--color3) 0px 0px 30px, var(--color3) 0px 0px 40px, var(--color3) 0px 0px 50px, var(--color3) 0px 0px 75px; }
    100% { color: var(--color2); }
}

.section--inverted-colors
{
    color: var(--color1);
    height: auto;
    background-color: var(--color2);
}

.section__header
{
    font-family: var(--font);
    margin: 20vh auto 1rem 1rem;
    z-index: 2;
}

.section__header--inverted-colors
{
    margin-top: 20vh;
}

.section__span
{
    color: var(--color4);
    font-family: var(--font);
    font-size: 2.4rem;
}

.section__span--inverted-colors
{
    color: var(--color4);
    background-color: var(--color1);
}

.elements-grid
{
    display: flex;
    flex-direction: column;
}

.card
{
    border: 0.5rem solid var(--color1);
    border-radius: 10px;
    margin: 1rem auto;
    background-color: var(--color4);
    transition: border-color 0.25s;
}

.card:hover
{
    border-color: var(--color3);
}

.card--contact
{
    background-color: var(--color1);
    border: 0.5rem solid var(--color2);
}

.card__image
{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__text
{
    font-family: var(--font);
    font-size: 1.6rem;
    text-align: center;
}

.card__a
{
    text-decoration: none;
}

.card__a--white
{
    color: var(--color5);
}

.footer
{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: var(--color1);
    border: 0.5rem solid var(--color2);
    font-family: var(--font);
    color: var(--color2);
}

#puerco
{
    height: 100%;
}