.header__ul
{
    flex-direction: row;
}

.header__li
{
    font-size: 2.4rem;
}

.hero
{
    background-image: url(../img/web-design-layout-bw-optimized-720px.jpg);
}

.section
{
    font-size: 3.8rem;
}

.section__span
{
    font-size: 3.6rem;
}

.elements-grid
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card--contact
{
    margin: 1rem 2rem;
}